body {
  width: 80%;
  max-width: 1260px;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.blog-entry {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.blog-entry h2 {
  margin: 0;
  font-size: 1.2rem;
}

.blog-date {
  font-weight: bold;
}