body {
  width: 80%;
  max-width: 1260px;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

/* Goals Section */

#goals {
}


#goals-description > h2 {
  padding: 1rem 1rem 1rem 5rem;
  color: white;
  background-color: rgb(71, 147, 36);
  border-radius: 5px;
}

/* #goals-descsription:focus,
#goals-descsription:hover {
  cursor: pointer;
  color: rgb(206, 150, 37);
} */

#goals-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Blog Section */

#blog > h2 {
  padding: 1rem 1rem 1rem 5rem;
  color: white;
  background-color: rgb(84, 95, 215);
  border-radius: 5px;
}

.blog-entry {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.blog-entry h2 {
  margin: 0;
  font-size: 1.2rem;
}

.blog-date {
  font-weight: bold;
}

